.detail{
    flex: 1;

    .user{
        background-color: rgba(255, 255, 255, 0.061);
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 10px;
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
        100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);
        border-radius: 12px;
        height: 500px;

        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
        button{
            padding: 10px 20px;
            background-color: rgba(230, 74, 105, 0.553);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 100px;
            width: 200px;
            height: 60px;
            box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
            100%, 0.075),
            /* shadow ring 👇 */
            0 0 0 1px hsla(0, 0%, 0%, 0.05),
            /* multiple soft shadows 👇 */
            0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
            0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
            0 3.5px 6px hsla(0, 0%, 0%, 0.09);
            &:hover{
                background-color: rgb(236, 52, 89);;
            }
        }
    }
    .logoutbtn{
        flex: 1;
        background-color: rgba(255, 255, 255, 0.061);
        padding:  12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
        100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);
        border-radius: 12px;

        button{
            padding: 9px ;
            background-color: rgba(74, 149, 230, 0.553);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 150px;
            height: 40px;
            box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
            100%, 0.075),
            /* shadow ring 👇 */
            0 0 0 1px hsla(0, 0%, 0%, 0.05),
            /* multiple soft shadows 👇 */
            0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
            0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
            0 3.5px 6px hsla(0, 0%, 0%, 0.09);
            &:hover{
                background-color: rgb(54, 137, 225);
            }
        }

    }
}
.detail-img{
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    
    padding: 3px;
}