.chat{
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;
    .top{
        background-color: rgba(255, 255, 255, 0.061);
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;
        height: 80px;
        margin: 10px;
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
        100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);
        border-radius: 12px;

        .user{
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            
            }

            .texts{
                display: flex;
                flex-direction: column;
                gap: 5px;

                span{
                    font-size: 18px;
                    font-weight: bold;
                }
                p{
                    font-weight: 300;
                    color: #a5a5a5;
                }
            }
        }
    }
    .center{
        padding: 20px;
        flex: 1;
        /* background-color: rgba(245, 245, 245, 0.129); */
        background-color: rgba(255, 255, 255, 0.061);
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px;
        border-radius: 12px;
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
        100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);

        .message{
            max-width: 70%;
            display: flex;
            gap: 20px;

            &.own{
                align-self: flex-end;
                .texts{
                    p{
                        padding: 20px;
                        background: rgb(24,78,187);
                        background: linear-gradient(90deg, rgba(24,78,187,1) 4%, rgba(31,117,255,1) 49%, rgba(30,118,255,1) 90%);
                        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
                        100%, 0.075),
                        /* shadow ring 👇 */
                        0 0 0 1px hsla(0, 0%, 0%, 0.05),
                        /* multiple soft shadows 👇 */
                        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
                        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
                        0 3.5px 6px hsla(0, 0%, 0%, 0.09);
                    }
                }
            }

            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            .texts{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                img{
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
                    100%, 0.075),
                    /* shadow ring 👇 */
                    0 0 0 1px hsla(0, 0%, 0%, 0.05),
                    /* multiple soft shadows 👇 */
                    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
                    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
                    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
                }

                p{
                    padding: 20px;
                    background: rgb(26,29,36);
                    background: linear-gradient(0deg, rgba(26,29,36,1) 0%, rgba(56,59,68,1) 100%);
                    border-radius: 10px;
                    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
                    100%, 0.075),
                    /* shadow ring 👇 */
                    0 0 0 1px hsla(0, 0%, 0%, 0.05),
                    /* multiple soft shadows 👇 */
                    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
                    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
                    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
                }
                span{
                    font-size: 13px;
                }
            }
        }

    }

    .bottom{
        background-color: rgba(255, 255, 255, 0.061);
        height: 80px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;
        margin-top: auto;
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 6px;
        border-radius: 12px;
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
        100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);

        .icons{
            display: flex;
            gap: 20px;

            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        input{
            flex: 1;
           background-color: rgba(17, 25, 40, 0.5);;
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            border-radius: 10px;
            font-size: 16px;
        }
        .emoji-icon{
            height: 50px;;
        }
        .emoji{
            position: relative;

                .picker{
                    position: absolute;
                    bottom: 50px;
                    left: 0;
                }

        }
        .sendButton{
            background-color: #5183fe;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
    }
}